.center_coronado {
  background-image: url("http://coronadovisitorcenter.com/static/media/uploads/del_holiday.jpg");
  background-color:white;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  border-color: lightblue;
  border-width: 8px;
  /* add opacity here?  */
}

.card > form {
  display: flex;
  flex-direction: column;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: grey;
  font-weight:bold;
}
