.center_eastvillage {
  background-image: url("https://www.udr.com/uploadedImages/UDR3/Communities/13th_+_Market/images/HR_MainHeader_Overview_1900x874_13thAndMarket_2013_BDG4_EL.jpg?n=70");
  background-color:white;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  border-color: #337ab7;
  border-width: 8px;
  width:auto;
  /* add opacity here?  */
}

.card > form {
  display: flex;
  flex-direction: column;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: grey;
  font-weight:bold;
}
