.center {
  background-image: url("https://www.marinainnsandiego.com/assets/themes/marinainnsandiego/img/San-diego-skyline-near-marina-Inn-&-Suites.jpg");
  background-color:white;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  border-color: #337ab7;
  border-width: 8px;
  width: 400px;

}

.card > form {
  display: flex;
  flex-direction: column;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: grey;
  font-weight:bold;
}

.form-item {
  padding: 5px;
  margin-bottom: 2rem;
  height: 30px;

  border: 1px solid grey;
}

.form-submit {
  height: 35px;
  color: grey;
  background-color: lightblue;
  border: none;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border: 1px solid grey;
}
.form-submit:hover, .form-submit-link:hover {
  opacity: 0.6;
}

.form-submit-link {
  color:blue;
  cursor: pointer;
  border:none;
  font-size:15px;
  text-decoration:underline;
}

body {
  /* background-image: url("https://files.slack.com/files-tmb/T04B40L2C-F9X1SLEKV-18fe58d96e/image_1024.png"); */
  background-color: #f5f5f5!important;
  height: 100%;
  background-repeat: no-repeat;
  background-size:cover;
}
