.

* {
  box-sizing: border-box;
}

.required {
  color: red;
  font-size: 12px;
}

body {
  background-color: #84CAE7;
  padding: 5% 2%;
}

.container {
  background: #fff;
  width: 400px;
  margin: 50px auto;
  padding: 50px 50px;
  box-shadow: 4px 5px 15px #333;
}

h1 {
  color: #fff;
  text-align: center;
}

h2 {
  color: #6c7a89;
  border-bottom: 3px solid #e67e22;
  padding-bottom: 10px;
}

input {
  padding: 15px 10px;
  width: 100%;
  border: none;
  background: #ddd;
  margin-bottom: 10px;
}

input[type=button] {
  background: #019875;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
}

.input::-webkit-input-placeholder {
  color: #999;
}

.container > .errorMessage {
  padding: 10px;
  text-align: center;
  background: orange;
  color: #fff;
}

.errorMessage {
  color: red;
  font-size: 12px;
}
